=form_tag "/skaters/#{params[:id]}/practices", method: :get do
  .field
    .label.label-default From
    =date_select :start_date, :date, default: 1.month.ago
  .field
    .label.label-default To
    =date_select :end_date, :date, default: Date.today
  =submit_tag "Search", class: 'btn btn-info'

%hr

%h4
  = @skater.derby_name
  %br
  Attendence from
  = @report.start_date.strftime("%b %d, %Y")
  to
  = @report.end_date.strftime("%b %d, %Y")

.field
  .label.label-primary Total Practices
  =@report.practices.count
.field
  .label.label-primary Attendence
  ="#{@skater.attendence_percentage_for(@report.practices).to_i}%"

%br

%table.attendence_report
  %tr
    %th Date
    %th Status
  -@report.practices.each do |practice|
    %tr
      %td=practice.date.strftime("%b %d, %Y")
      %td=@skater.status_for practice
